body{
    background: lightslategray;
}
.navbarlogo{

    font-family: Chalkduster;
    font-size: xx-large;
}
.nb{
    background: steelblue;
}

.main-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}