<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head ('Welcome...!.')">
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
<h1>Welcome To Posters!!!</h1>
    <h2>add some more detail and make it like a blog</h2>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: foot-script"></div>
</body>
</html>